@font-face {
  font-family: "br";
  src: url("../fonts/br.ttf");
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

body {
  background-color: #FFFFFF;
  font-family: "br";
}

body header {
  position: fixed;
  width: 100%;
  padding: 5px 0px;
  background-color: #121212;
  color: #FFFFFF;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body header a :hover {
  color: #1a73da;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body header a i {
  margin-top: 6px;
  margin-left: 150px;
  font-size: 45px;
}

body header nav {
  width: 40%;
}

body header nav ul {
  padding: 12px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body header nav ul a :hover {
  background-color: #1a73da;
  color: #FFFFFF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body header nav ul a li {
  border-radius: 25px;
  background-color: none;
  margin: 0px 10px;
  padding: 5px 10px;
}

body main .cover {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .cover .welcomeText, body main .cover .picture {
  width: 50%;
}

body main .cover .welcomeText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main .cover .welcomeText .contentText {
  width: 60%;
  margin: auto;
  text-align: center;
}

body main .cover .welcomeText .contentText h1 {
  font-size: 65px;
  padding-bottom: 50px;
}

body main .cover .welcomeText .contentText p {
  font-size: 30px;
}

body main .cover .welcomeText .contentText span {
  font-size: 50px;
}

body main .cover .welcomeText .contentText a button {
  margin-top: 20px;
  padding: 20px 50px;
  background-color: #1a73da;
  border: 1px solid #121212;
  border-radius: 25px;
  cursor: pointer;
  color: white;
}

body main .cover .welcomeText .contentText a :hover {
  background-color: #FFFFFF;
  border: 1px solid #1a73da;
  color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body main .cover .picture img {
  width: 100%;
}

body main .carouselBlock {
  width: 100%;
  border-top: 1px solid #121212;
  border-bottom: 1px solid #121212;
  text-align: center;
  padding-bottom: 50px;
  background-color: #121212;
  color: #FFFFFF;
}

body main .carouselBlock .carouselHeading {
  padding: 50px 0px;
}

body main .carouselBlock .carousel {
  width: 75%;
  margin: 0px auto;
}

body main .carouselBlock .carousel a .carouselItem {
  width: 50%;
  z-index: 1;
  margin: 0px auto;
  text-align: center;
  border-radius: 15px;
  color: #121212;
  position: relative;
  -webkit-box-shadow: 5px 5px 0 rgba(18, 18, 18, 0.2);
          box-shadow: 5px 5px 0 rgba(18, 18, 18, 0.2);
}

body main .carouselBlock .carousel a .carouselItem .artistName {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

body main .carouselBlock .carousel a .carouselItem .artistName p {
  padding: 90px 0px;
}

body main .carouselBlock .carousel a img {
  width: 100%;
  border-radius: 15px;
}

body main .carouselBlock .carousel a :hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body main .carouselBlock .carousel a :hover .artistName {
  display: block;
  border-radius: 15px;
  background-color: rgba(18, 18, 18, 0.5);
  color: #FFFFFF;
  height: 100%;
  cursor: pointer;
}

body main #news {
  width: 80%;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main #news .newsArticle {
  width: 30%;
  height: 0%;
  margin: 25px 0px;
  border-radius: 15px;
  border: 1px solid #121212;
  background-color: #121212;
  color: #FFFFFF;
  -webkit-box-shadow: 5px 5px 0 rgba(18, 18, 18, 0.2);
          box-shadow: 5px 5px 0 rgba(18, 18, 18, 0.2);
}

body main #news .newsArticle h2, body main #news .newsArticle p, body main #news .newsArticle span {
  margin: 10px 10px 0px 10px;
}

body main #news .newsArticle h2 {
  padding: 10px 0px;
  font-size: 21px;
}

body main #news .newsArticle .titleNews {
  padding-bottom: 5px;
}

body main #news .newsArticle span {
  padding-bottom: 10px;
  color: #1a73da;
  font-weight: bold;
}

body main #news .newsArticle img {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

body main #news .newsArticle #moreText0 {
  display: none;
}

body main #news .newsArticle #moreText1 {
  display: none;
}

body main #news .newsArticle #moreText2 {
  display: none;
}

body main #news .newsArticle #moreText3 {
  display: none;
}

body main #news .newsArticle #moreText4 {
  display: none;
}

body main #news .newsArticle #moreText5 {
  display: none;
}

body main #news .newsArticle #moreText6 {
  display: none;
}

body main #news .newsArticle #moreText7 {
  display: none;
}

body main #news .newsArticle #moreText8 {
  display: none;
}

body main #news .newsArticle #moreText9 {
  display: none;
}

body main #news .newsArticle #moreText10 {
  display: none;
}

body main #news .newsArticle #moreText11 {
  display: none;
}

body main .container {
  width: 80%;
  margin: 0px auto;
  padding: 200px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main .container .logoSredina, body main .container .forma {
  width: 30%;
}

body main .container .fleks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .container .margin-auto {
  margin: auto 0px;
}

body main .container .forma h2 {
  text-align: center;
  padding-bottom: 10px;
}

body main .container .forma input[type=text], body main .container .forma input[type=password], body main .container .forma input[type=email], body main .container .forma select, body main .container .forma button {
  border-radius: 7px;
  padding: 10px 5px;
  margin: 15px 0px;
  border: 1px solid #1a73da;
}

body main .container .forma .around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main .container .forma .around div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

body main .container .forma .around div select {
  width: 100%;
}

body main .container .forma .around div .error {
  width: 100%;
  font-size: 12px;
}

body main .container .forma input[type=text], body main .container .forma input[type=email], body main .container .forma input[type=password] {
  width: 100%;
}

body main .container .forma button {
  width: 40%;
  padding: 10px 5px;
  background-color: #FFFFFF;
  cursor: pointer;
}

body main .container .error {
  font-size: 12px;
  margin-top: 2px;
  color: red;
}

body main .container .empty {
  display: none;
}

body main .container .logoSredina {
  text-align: center;
}

body main .container .logoSredina img {
  padding-top: 40px;
  width: 100%;
}

body #footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #121212;
}

body #footer ul {
  width: 20%;
  margin: 15px 0px;
  padding: 10px 25px;
  color: #FFFFFF;
  list-style-type: disc;
  border-left: 2px solid #FFFFFF;
}

body #footer ul li {
  padding: 10px 0px;
}

body #footer .copyright {
  width: 100%;
  text-align: center;
  color: #FFFFFF;
}

body #footer .copyright a {
  color: #1a73da;
}

body #footer .copyright :hover {
  color: #ce5f15;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 1450px) {
  body main .cover .welcomeText .contentText h1 {
    font-size: 50px;
  }
  body main .cover .welcomeText .contentText p {
    font-size: 25px;
  }
}

@media screen and (max-width: 1030px) {
  body header nav ul a li {
    margin: 0px;
  }
  body main .cover .welcomeText .contentText h1 {
    font-size: 37px;
  }
  body main .cover .welcomeText .contentText p {
    font-size: 20px;
  }
  body main .cover .welcomeText .contentText span {
    font-size: 27px;
  }
}

@media screen and (max-width: 770px) {
  body header a i {
    font-size: 33px;
    margin-left: 50px;
  }
  body header nav ul a li {
    font-size: 10px;
  }
  body main .cover {
    padding-top: 100px;
    height: auto;
  }
  body main .cover .welcomeText, body main .cover .picture {
    width: 100%;
  }
  body main .cover .welcomeText .contentText h1 {
    font-size: 28px;
    padding-bottom: 30px;
  }
  body main .cover .welcomeText .contentText p {
    font-size: 15px;
  }
  body main .cover .welcomeText .contentText span {
    font-size: 20px;
  }
  body main .cover .welcomeText .contentText a button {
    margin-top: 30px;
    padding: 10px 30px;
    font-size: 12px;
  }
  body main .cover .picture {
    padding: 80px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body main .cover .picture img {
    width: 70%;
    margin: auto;
  }
  body main #news .newsArticle {
    width: 48%;
  }
  body main #news .newsArticle h2, body main #news .newsArticle p, body main #news .newsArticle span {
    margin-left: 10px;
    font-size: 12px;
  }
  body main #news .newsArticle h2 {
    padding: 10px 0px;
    font-size: 18px;
  }
}

@media screen and (max-width: 430px) {
  body header {
    position: relative;
  }
  body header a i {
    font-size: 33px;
    margin-left: 25px;
  }
  body header nav {
    width: 70%;
  }
  body header nav ul a li {
    font-size: 10px;
  }
  body main .cover .welcomeText, body main .cover .picture {
    width: 100%;
  }
  body main .cover .welcomeText .contentText h1 {
    font-size: 28px;
    padding-bottom: 30px;
  }
  body main .cover .welcomeText .contentText p {
    font-size: 15px;
  }
  body main .cover .welcomeText .contentText span {
    font-size: 20px;
  }
  body main .cover .picture {
    padding: 80px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body main .cover .picture img {
    width: 70%;
    margin: auto;
  }
  body main #news .newsArticle {
    width: 100%;
  }
  body main #news .newsArticle h2, body main #news .newsArticle p, body main #news .newsArticle span {
    margin-left: 10px;
    font-size: 12px;
  }
  body main #news .newsArticle h2 {
    padding: 10px 0px;
    font-size: 18px;
  }
  body #footer ul {
    width: 100%;
    margin-left: 20px;
  }
}

@media screen and (max-width: 380px) {
  body header {
    position: relative;
  }
  body header a i {
    font-size: 30px;
    margin-left: 25px;
  }
  body header nav {
    width: 70%;
  }
  body header nav ul a li {
    font-size: 8px;
  }
  body main .cover .welcomeText .contentText h1 {
    font-size: 28px;
    padding-bottom: 30px;
  }
  body main .cover .welcomeText .contentText p {
    font-size: 15px;
  }
  body main .cover .welcomeText .contentText a button {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 12px;
  }
}

@media screen and (max-width: 325px) {
  body header {
    position: relative;
  }
  body header a i {
    font-size: 25px;
    margin-left: 25px;
  }
  body header nav {
    width: 80%;
  }
  body header nav ul a li {
    font-size: 8px;
  }
  body main .cover .welcomeText .contentText h1 {
    font-size: 20px;
    padding-bottom: 30px;
  }
  body main .cover .welcomeText .contentText p {
    font-size: 12px;
  }
  body main .cover .welcomeText .contentText span {
    font-size: 18px;
  }
  body main .cover .welcomeText .contentText a button {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 10px;
  }
}
/*# sourceMappingURL=style.css.map */