:root {
  --pageColor: #121212;
  --titlesOther: #121212;
  --whiteLetters: #FFFFFF;
  --assetsBlue: rgb(26, 115, 218);
}

@font-face {
  font-family: "br";
  src: url("../fonts/br.ttf");
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--whiteLetters);
}

body {
  background-color: var(--whiteLetters);
  font-family: "br";
}

body header {
  position: fixed;
  width: 100%;
  padding: 5px 0px;
  background-color: var(--pageColor);
  z-index: 8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body header a :hover {
  color: var(--assetsBlue);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body header a i {
  margin-top: 6px;
  margin-left: 150px;
  font-size: 45px;
  color: #FFFFFF;
}

body header nav {
  width: 40%;
}

body header nav ul {
  padding: 12px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body header nav ul a :hover {
  background-color: var(--assetsBlue);
  color: var(--whiteLetters);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body header nav ul a li {
  border-radius: 25px;
  background-color: none;
  margin: 0px 10px;
  padding: 5px 10px;
  color: #FFFFFF;
}

body main .cover {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .cover .welcomeText, body main .cover .picture {
  width: 50%;
}

body main .cover .welcomeText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main .cover .welcomeText .contentText {
  width: 60%;
  margin: auto;
  text-align: center;
}

body main .cover .welcomeText .contentText h1 {
  font-size: 65px;
  padding-bottom: 50px;
  color: var(--titlesOther);
}

body main .cover .welcomeText .contentText p {
  font-size: 30px;
  color: var(--titlesOther);
}

body main .cover .welcomeText .contentText span {
  font-size: 50px;
  color: var(--titlesOther);
}

body main .cover .welcomeText .contentText a button {
  margin-top: 20px;
  padding: 20px 50px;
  background-color: var(--assetsBlue);
  border: 1px solid var(--pageColor);
  border-radius: 25px;
  cursor: pointer;
  color: var(--whiteLetters);
}

body main .cover .welcomeText .contentText a :hover {
  background-color: var(--whiteLetters);
  border: 1px solid var(--assetsBlue);
  color: var(--pageColor);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body main .cover .picture img {
  width: 100%;
}

body main .carouselBlock {
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
  background-color: #2e2e2e;
  color: #FFFFFF;
}

body main .carouselBlock .carouselHeading {
  padding: 50px 0px;
}

body main .carouselBlock #carousel {
  width: 75%;
  margin: 0px auto;
}

body main .carouselBlock #carousel a .carouselItem {
  width: 50%;
  z-index: 1;
  margin: 0px auto;
  text-align: center;
  border-radius: 15px;
  color: var(--pageColor);
  position: relative;
}

body main .carouselBlock #carousel a .carouselItem .artistName {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

body main .carouselBlock #carousel a .carouselItem .artistName p {
  padding: 120px 0px;
}

body main .carouselBlock #carousel a img {
  width: 100%;
  border-radius: 15px;
}

body main .carouselBlock #carousel a :hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body main .carouselBlock #carousel a :hover .artistName {
  display: block;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  height: 100%;
  cursor: pointer;
}

body main #news {
  width: 80%;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main #news .newsArticle {
  width: 30%;
  height: 0%;
  margin: 25px 0px;
  border-radius: 15px;
  background-color: #2e2e2e;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 3px 6px #2e2e2e;
          box-shadow: 0px 3px 6px #2e2e2e;
  display: none;
}

body main #news .newsArticle h2, body main #news .newsArticle p, body main #news .newsArticle span {
  margin: 10px 10px 0px 10px;
}

body main #news .newsArticle h2 {
  padding: 10px 0px;
  font-size: 21px;
}

body main #news .newsArticle .titleNews {
  padding-bottom: 5px;
}

body main #news .newsArticle span {
  padding-bottom: 10px;
  color: var(--assetsBlue);
  font-weight: bold;
}

body main #news .newsArticle img {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

body main #news .newsArticle #moreText0 {
  display: none;
}

body main #news .newsArticle #moreText1 {
  display: none;
}

body main #news .newsArticle #moreText2 {
  display: none;
}

body main #news .newsArticle #moreText3 {
  display: none;
}

body main #news .newsArticle #moreText4 {
  display: none;
}

body main #news .newsArticle #moreText5 {
  display: none;
}

body main #news .newsArticle #moreText6 {
  display: none;
}

body main #news .newsArticle #moreText7 {
  display: none;
}

body main #news .newsArticle #moreText8 {
  display: none;
}

body main #news .newsArticle #moreText9 {
  display: none;
}

body main #news .newsArticle #moreText10 {
  display: none;
}

body main #news .newsArticle #moreText11 {
  display: none;
}

body main #news .show {
  display: block;
}

body main .container {
  width: 80%;
  margin: 0px auto;
  padding: 200px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main .container .logoSredina, body main .container .forma {
  width: 30%;
}

body main .container .logoSredina h1 {
  color: var(--titlesOther);
}

body main .container .fleks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .container .margin-auto {
  margin: auto 0px;
}

body main .container .forma h2 {
  text-align: center;
  padding-bottom: 10px;
  color: var(--titlesOther);
}

body main .container .forma input[type=text], body main .container .forma input[type=password], body main .container .forma input[type=email], body main .container .forma select, body main .container .forma button {
  border-radius: 7px;
  padding: 10px 5px;
  margin: 15px 0px;
  border: 1px solid var(--assetsBlue);
}

body main .container .forma .around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main .container .forma .around div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

body main .container .forma .around div select {
  width: 100%;
}

body main .container .forma .around div .error {
  width: 100%;
  font-size: 12px;
}

body main .container .forma input[type=text], body main .container .forma input[type=email], body main .container .forma input[type=password] {
  width: 100%;
}

body main .container .forma button {
  width: 40%;
  padding: 10px 5px;
  background-color: var(--whiteLetters);
  color: var(--titlesOther);
  cursor: pointer;
}

body main .container .error {
  font-size: 12px;
  margin-top: 2px;
  color: red;
}

body main .container .logoSredina {
  text-align: center;
}

body main .container .logoSredina img {
  padding-top: 40px;
  width: 100%;
}

body main .containerAuthor {
  width: 80%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 200px 0px;
}

body main .containerAuthor .authorImage, body main .containerAuthor .authorText {
  width: 48%;
}

body main .containerAuthor .authorImage {
  text-align: center;
  border-radius: 15px;
}

body main .containerAuthor .authorImage img {
  border-radius: 15px;
}

body main .containerAuthor .authorText {
  padding: 100px 0px;
}

body main .containerAuthor .authorText h2, body main .containerAuthor .authorText p {
  color: var(--titlesOther);
}

body main .containerAuthor .authorText h2 a, body main .containerAuthor .authorText p a {
  color: var(--assetsBlue);
}

body main .containerAuthor .authorText h2 :hover, body main .containerAuthor .authorText p :hover {
  color: #ce5f15;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body main .containerAuthor .authorText h2 {
  padding-bottom: 20px;
}

body #footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: var(--pageColor);
  padding: 20px 0px;
}

body #footer ul {
  width: 20%;
  margin: 15px 0px;
  padding: 10px 25px;
  color: #FFFFFF;
  list-style-type: disc;
  border-left: 2px solid #FFFFFF;
}

body #footer ul a {
  color: #FFFFFF;
}

body #footer ul li {
  padding: 10px 0px;
}

body #footer .copyright {
  width: 100%;
  text-align: center;
  color: #FFFFFF;
}

body #footer .copyright a {
  color: var(--assetsBlue);
}

body #footer .copyright :hover {
  color: #ce5f15;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#backToTheTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 42px;
  height: 42px;
  z-index: 8;
  background-color: var(--pageColor);
  border: 3px solid var(--assetsBlue);
  border-radius: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #FFFFFF;
  text-align: center;
  opacity: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  cursor: pointer;
}

#backToTheTop i {
  padding: 10px 0px;
}

#toggleNightMode, #toggleNightModeNoPicture, #toggleNightModeRegister {
  position: absolute;
  top: 100px;
  right: 40px;
  width: 42px;
  height: 42px;
  z-index: 8;
  text-align: center;
  cursor: pointer;
}

#toggleNightMode p, #toggleNightModeNoPicture p, #toggleNightModeRegister p {
  color: var(--titlesOther);
}

#toggleNightMode i, #toggleNightModeNoPicture i, #toggleNightModeRegister i {
  color: var(--titlesOther);
  font-size: 40px;
}

#slick-slide-control00::before {
  color: #FFFFFF;
}

#slick-slide-control01::before {
  color: #FFFFFF;
}

#slick-slide-control02::before {
  color: #FFFFFF;
}

#slick-slide-control03::before {
  color: #FFFFFF;
}

#slick-slide-control04::before {
  color: #FFFFFF;
}

#slick-slide-control05::before {
  color: #FFFFFF;
}

#slick-slide-control06::before {
  color: #FFFFFF;
}

#slick-slide-control07::before {
  color: #FFFFFF;
}

#slick-slide-control08::before {
  color: #FFFFFF;
}

#slick-slide-control09::before {
  color: #FFFFFF;
}

#slick-slide-control010::before {
  color: #FFFFFF;
}

#slick-slide-control011::before {
  color: #FFFFFF;
}

@media screen and (max-width: 1450px) {
  body main .cover .welcomeText .contentText h1 {
    font-size: 50px;
  }
  body main .cover .welcomeText .contentText p {
    font-size: 25px;
  }
  body main .carouselBlock .carouselHeading {
    padding: 50px 0px;
  }
  body main .carouselBlock #carousel {
    width: 75%;
    margin: 0px auto;
  }
  body main .carouselBlock #carousel a .carouselItem .artistName p {
    padding: 100px 0px;
  }
  body main #news {
    width: 80%;
    margin: 50px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body main #news .newsArticle h2 {
    padding: 10px 0px;
    font-size: 15px;
  }
  body main #news .newsArticle p {
    font-size: 13px;
  }
  body main #news .newsArticle span {
    font-size: 14px;
  }
}

@media screen and (max-width: 1030px) {
  body header nav ul a li {
    margin: 0px;
  }
  body main .cover .welcomeText .contentText h1 {
    font-size: 37px;
  }
  body main .cover .welcomeText .contentText p {
    font-size: 20px;
  }
  body main .cover .welcomeText .contentText span {
    font-size: 27px;
  }
  body main .carouselBlock .carouselHeading {
    padding: 50px 0px;
  }
  body main .carouselBlock #carousel {
    width: 75%;
    margin: 0px auto;
  }
  body main .carouselBlock #carousel a .carouselItem .artistName p {
    padding: 60px 0px;
  }
}

@media screen and (max-width: 770px) {
  body header a i {
    font-size: 33px;
    margin-left: 50px;
  }
  body header nav ul a li {
    font-size: 10px;
  }
  body main .cover {
    padding-top: 100px;
    height: auto;
  }
  body main .cover .welcomeText, body main .cover .picture {
    width: 100%;
  }
  body main .cover .welcomeText .contentText h1 {
    font-size: 28px;
    padding-bottom: 30px;
  }
  body main .cover .welcomeText .contentText p {
    font-size: 15px;
  }
  body main .cover .welcomeText .contentText span {
    font-size: 20px;
  }
  body main .cover .welcomeText .contentText a button {
    margin-top: 30px;
    padding: 10px 30px;
    font-size: 12px;
  }
  body main .cover .picture {
    padding: 80px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body main .cover .picture img {
    width: 70%;
    margin: auto;
  }
  body main .carouselBlock .carouselHeading {
    padding: 50px 0px;
  }
  body main .carouselBlock .carouselHeading h2 {
    font-size: 20px;
  }
  body main .carouselBlock #carousel {
    width: 75%;
    margin: 0px auto;
  }
  body main .carouselBlock #carousel a .carouselItem {
    width: 75%;
  }
  body main .carouselBlock #carousel a .carouselItem .artistName p {
    padding: 100px 0px;
  }
  body main #news .newsArticle {
    width: 48%;
  }
  body main #news .newsArticle h2, body main #news .newsArticle p, body main #news .newsArticle span {
    margin-left: 10px;
    font-size: 12px;
  }
  body main #news .newsArticle h2 {
    padding: 10px 0px;
    font-size: 12px;
  }
  body main #news .newsArticle p {
    font-size: 10px;
  }
  body main #news .newsArticle span {
    font-size: 12px;
  }
  body main .container {
    width: 90%;
    padding: 100px 0px;
  }
  body main .container .logoSredina, body main .container .forma {
    width: 100%;
  }
  body main .container .logoSredina {
    display: none;
  }
  body main .container .forma .around {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body main .container .forma .around div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30%;
  }
  body main .container .forma .around .error {
    width: 100%;
  }
  body main .containerAuthor {
    padding: 100px 0px;
  }
  body main .containerAuthor .authorImage, body main .containerAuthor .authorText {
    width: 100%;
  }
  body main .containerAuthor .authorText {
    padding: 50px 0px;
    padding-bottom: 0px;
  }
  body main .containerAuthor .authorText h2 a, body main .containerAuthor .authorText p a {
    color: var(--assetsBlue);
  }
  body main .containerAuthor .authorText h2 :hover, body main .containerAuthor .authorText p :hover {
    color: #ce5f15;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

@media screen and (max-width: 430px) {
  body header {
    position: relative;
  }
  body header a i {
    font-size: 33px;
    margin-left: 25px;
  }
  body header nav {
    width: 70%;
  }
  body header nav ul a li {
    font-size: 10px;
  }
  body main .cover .welcomeText, body main .cover .picture {
    width: 100%;
  }
  body main .cover .welcomeText .contentText h1 {
    font-size: 28px;
    padding-bottom: 30px;
  }
  body main .cover .welcomeText .contentText p {
    font-size: 15px;
  }
  body main .cover .welcomeText .contentText span {
    font-size: 20px;
  }
  body main .cover .picture {
    padding: 80px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body main .cover .picture img {
    width: 70%;
    margin: auto;
  }
  body main #news .newsArticle {
    width: 100%;
  }
  body main #news .newsArticle h2, body main #news .newsArticle p, body main #news .newsArticle span {
    margin-left: 10px;
    font-size: 12px;
  }
  body main #news .newsArticle h2 {
    padding: 10px 0px;
    font-size: 18px;
  }
  body main .container {
    padding: 50px 0px;
  }
  body main .container .logoSredina, body main .container .forma {
    width: 100%;
  }
  body main .container .logoSredina {
    display: none;
  }
  body main .container .forma .around {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body main .container .forma .around div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30%;
  }
  body main .container .forma .around .error {
    width: 100%;
  }
  body #footer ul {
    width: 100%;
    margin-left: 20px;
  }
  body #footer .copyright {
    padding: 10px 0px;
  }
  body #toggleNightMode, body #toggleNightModeNoPicture, body #toggleNightModeRegister {
    top: 60px;
    right: 20px;
    width: 42px;
    height: 42px;
    text-align: center;
    cursor: pointer;
  }
  body #toggleNightMode p, body #toggleNightModeNoPicture p, body #toggleNightModeRegister p {
    display: none;
  }
  body #toggleNightMode i, body #toggleNightModeNoPicture i, body #toggleNightModeRegister i {
    font-size: 33px;
  }
}

@media screen and (max-width: 380px) {
  body header {
    position: relative;
  }
  body header a i {
    font-size: 30px;
    margin-left: 25px;
  }
  body header nav {
    width: 70%;
  }
  body header nav ul a li {
    font-size: 8px;
  }
  body main .cover .welcomeText .contentText h1 {
    font-size: 28px;
    padding-bottom: 30px;
  }
  body main .cover .welcomeText .contentText p {
    font-size: 15px;
  }
  body main .cover .welcomeText .contentText a button {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 12px;
  }
  body main .containerAuthor {
    width: 90%;
    margin: 0px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 50px 0px;
  }
  body main .containerAuthor .authorImage, body main .containerAuthor .authorText {
    width: 100%;
  }
  body main .containerAuthor .authorImage {
    text-align: center;
    border-radius: 15px;
  }
  body main .containerAuthor .authorImage img {
    width: 100%;
    border-radius: 15px;
  }
  body main .containerAuthor .authorText h2 a, body main .containerAuthor .authorText p a {
    color: var(--assetsBlue);
  }
  body main .containerAuthor .authorText h2 :hover, body main .containerAuthor .authorText p :hover {
    color: #ce5f15;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

@media screen and (max-width: 325px) {
  body header {
    position: relative;
  }
  body header a i {
    font-size: 25px;
    margin-left: 25px;
  }
  body header nav {
    width: 80%;
  }
  body header nav ul a li {
    font-size: 8px;
  }
  body main .cover .welcomeText .contentText h1 {
    font-size: 20px;
    padding-bottom: 30px;
  }
  body main .cover .welcomeText .contentText p {
    font-size: 12px;
  }
  body main .cover .welcomeText .contentText span {
    font-size: 18px;
  }
  body main .cover .welcomeText .contentText a button {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 10px;
  }
}
/*# sourceMappingURL=style.css.map */